<table>
 <% for user in @users do %>
        <tr>
            <p><td><%= user.email %></td></p> 

            <!--<p><td><%= user.approved %></td></p>--> 

            <td><%= link_to "edit" %></td>
            
            <p><td><%= link_to "approve", approve_user_path(user.id) %></td></p>

        </tr>
      <% end %>    
</table>